@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    text-align: center;
    align-items: center;
    background-color: #fcf7f8;
    font-size: 17px;
}

.dw {
    color: #FEFCFD;
    background-color: #D10000;
    display: flex;
    align-items: center;
    height: 15vh;
    font-size: 40px;
    font-family: "Roboto Slab", serif;
    text-shadow: -0.01em -0.01em 0.5em #680303;
    background: linear-gradient(to right, #cb6969, #D10000 50%, #cb6969);
    padding: 0 30px; 
}

.inicio {
    padding: 0 12vw;
    padding-top: 80px;
    padding-bottom: 60px;
}

.images1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 30px;
}

.images1 table {
    font-size: 12px;
}

figure {
    text-align: center;
}
figcaption {
    margin-top: 0px;
    font-size: 1rem;
    color: #555;
}
img {
    max-width: 450px;
    height: auto;
}

.transicaoHTML {
    height: 10vh;
    background: linear-gradient(to bottom, #fcf7f8, #fecbdb);
}

.CSS {
    padding: 0 11vw;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #fecbdb;
}

.estrutura {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding-right: 10vw;
    text-align: justify;
}

table {
    margin-top: 50px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #333;
    letter-spacing: 1px;
    font-size: 14px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

td {
    text-align: center;
}

.transicaoCSS {
    height: 10vh;
    background: linear-gradient(to bottom, #fecbdb, #fcf7f8);
}

.portifolio {
    padding: 0 12vw;
    padding-top: 80px;
    padding-bottom: 60px;
}

.transicaoJS {
    height: 10vh;
    background: linear-gradient(to bottom, #fcf7f8, #fce6a2);
}

.JS {
    background-color: #fce6a2;
    padding: 0 12vw;
    padding-top: 50px;
    padding-bottom: 80px;
}

.transicaoProj {
    height: 10vh;
    background: linear-gradient(to bottom, #fce6a2, #fcf7f8);
}

.projetos {
    padding: 0 11vw;
    padding-top: 80px;
    padding-bottom: 60px;
}

iframe {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

footer {
    width: 100%;
    height: 8vh;
    bottom: 0;
    background-color: #000000;
}

li {
    padding: 10px 0;
}

.listProjetos {
    display: flex;
    background-color: #fecbdb;
    height: auto;
    width: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.projetosContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: auto;
}

.buttons button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}